@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.moving-circle {
  animation-delay: 3s;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-name: movingcircle;
  animation-timing-function: ease-in-out;
}

@keyframes movingcircle {
  to {
    transform: translateX(0px);
    display: none;
  }

  from {
    transform: translateX(500px);
    display: block;
  }
}

.title-box {
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-name: movingbox;
}

@keyframes movingbox {
  to {
    width: 100%;
    height: 1080px;
    transform: scale(1);
  }

  from {
    width: 360px;
    height: 280px;
    transform: scale(1);
  }
}
